@import url("https://fonts.googleapis.com/css2?family=Agbalumo&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    rgb(230, 168, 168),
    rgb(220, 5, 5)
  );
}

h1 {
  font-family: "Sofia", sans-serif;
  color: white;
}

.movies {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  text-align: center;
  flex-wrap: wrap;
}

.movies iframe {
  border-radius: 20px;
}

.sign-in {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    background-color: #47993a;
    margin-top: 30px;
    min-height: 60vh;
}

form {
  width: 20%;
  padding: 20px 10px 0;
  background-color: #39df6b;
  border-radius: 30px;
  height: 350px !important;
}

input[type="submit"] {
  width: 70px;
  height: 40px;
  font-weight: bold;
  border-radius: 10px;
  background-color: #f79797;
}

input[type="submit"]:hover {
  color: white;
  background-color: rgb(71, 153, 58);
}

.pizza-image > img {
    display: block;
    width: 400px;
}

.pizza-image p {
    text-align: center;
    color: white;
}

.pizza-image p a {
    color: white;
    text-decoration: none;
}

.pizza-image p a:hover {
    color: red;
}

footer {
  height: 10vh;
  background-image: radial-gradient(white, rgb(71, 153, 58));
  color: rgb(190, 70, 70);
}

footer p {
  text-align: center;
  padding-top: 2%;
}


circle {
    animation-name: topping; 
  animation-duration: 6s; 
  animation-iteration-count: infinite; 
  animation-timing-function: ease-out;
}

@keyframes topping {
    0% {
    fill: red;
    }
    
    50% {
    fill: rgb(55, 169, 59);
    }
    
    100% {
    fill: red;
    }
}